// Variables

//== Colors

$gray-base:        #000 !default;
$gray-darker:      lighten( saturate( adjust-hue( $gray-base, 210deg ), 16 ), 41 ) !default; // #58697a
$gray:             lighten( saturate( adjust-hue( $gray-base, 224deg ), 10 ), 62 ) !default; // #959aa8
$gray-lighter:     lighten( saturate( adjust-hue( $gray-base, 210deg ), 33 ), 95 ) !default; // #eff3f7

$white:            #fff !default;

$brand-primary:    #48cbe8 !default;
$brand-darker:     darken( desaturate( $brand-primary, 25 ), 11 ) !default; //#3ba8c0
$brand-dark:       darken( desaturate( $brand-primary, 15 ), 6 ) !default; //#41b9d4
$brand-light:      lighten( saturate( $brand-primary, 14 ), 5 ) !default; //#51daf8
$brand-lighter:    lighten( desaturate( adjust-hue( $brand-primary, 5deg ), 7 ), 36 ) !default; //#edf8fc

$fg:               $gray-lighter !default;

$border-radius-base:        3px !default;


//Media queries breakpoints
$screen-xs: 480px; //мобильная
$screen-sm: 768px; //планшет
$screen-md: 992px;
$screen-lg: 1200px;

// Navbar

// Basics of a navbar
/* $navbar-height:                    50px !default; */
/* $navbar-margin-bottom:             $line-height-computed !default; */
/* $navbar-border-radius:             $border-radius-base !default; */
/* $navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default; */
/* $navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default; */
/* $navbar-collapse-max-height:       340px !default; */
$navbar-default-color:             $brand-darker !default;
$navbar-default-bg:                $fg !default;
// $navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $brand-darker !default;
// $navbar-default-link-hover-color:          $brand-darker !default;
// $navbar-default-link-hover-bg:             $brand-darker !default;
$navbar-default-link-active-color:         $white !default;
$navbar-default-link-active-bg:            $brand-darker !default;
// $navbar-default-link-disabled-color:       #ccc !default;
// $navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
// $navbar-default-brand-color:               $navbar-default-link-color !default;
// $navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
// $navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
// $navbar-default-toggle-hover-bg:           #ddd !default;
// $navbar-default-toggle-icon-bar-bg:        #888 !default;
// $navbar-default-toggle-border-color:       #ddd !default;


$navbar-item-underline-bg: $brand-darker !default;

//Burger
$burger-background-color: #58697a;

//Content-box
$content-box-bg: $fg !default;
$content-box-header-color: $brand-darker !default;
$content-box-header-underline-bg: $brand-darker !default;
$content-box-header-font-size: 27px;

//Avatar
$avatar-border-bg: $brand-darker;

//Skills-item
$skills-item-border-radius: $border-radius-base;
$skills-item-gradient1-bg: $brand-darker;
$skills-item-gradient2-bg: darken($brand-darker, 10);
$skills-item-color: $white;

//Contacts
$contacts-color: $white;
$contacts-title-bg: $brand-darker;
$contacts-mail-bg: $brand-dark;
$contacts-phone-bg: $brand-primary;
$contacts-skype-bg: $brand-light;

//Labels
$label-color: #959aa8;
$label-font-size: 17px;

//Inputs
$input-background-color: #fbfcfd;
$input-border-color: #48cbe8;
$input-border-width: 1px;
$input-border-radius: 4px;
$input-color: #48cbe8;
$input-font-size: 13px;

//Textarea
$textarea-background-color: $input-background-color;
$textarea-border-color: $input-border-color;
$textarea-border-width: $input-border-width;
$textarea-border-radius: $input-border-radius;
$textarea-color: $input-color;
$textarea-font-size: $input-font-size;

//Buttons
$button-background-color: $brand-primary;
$button-border-radius: 7px;
$button-color: #f6f6f6;
$button-font-size: 19px;
$button-box-shadow-color: #3ba8c0;
$button-delta: 4px;
$button-delta2: $button-delta*2;

$button-res-background-color: #849db5;
$button-res-box-shadow-color: #687b8f;

//Site-preview
$site-preview-img-border-bg: $brand-darker;
$site-preview-img-border-radius: $border-radius-base +1px;

//Thumbnails
$thumbnail-site-name-color: $brand-darker;
$thumbnail-site-description-color: $gray-darker;

