// bower:scss
// endbower

@import "main";

.authorization-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.authorization{
  max-width: 590px;
  width: 100%;
  text-align: center;
  background-color: #eff3f7;
  font-family: fira_sanslight;
  border-radius: 3px;
  box-shadow: 0 4px 6.9px 0.1px rgba(13, 16, 7, 0.29);
  overflow: hidden;
}

.authorization-header{
  font-family: fira_sansbook;
  background-color: #48cbe8;
  color: white;
  margin: 0;
  border-bottom: 15px solid #67dffa;
  font-size: 40px;
  padding: 25px 0;



  @media (max-width: $screen-xs) {
    font-size: 24px;
  }
}

.authorization-body{
  padding: 28px 83px 23px 83px;

  @media (max-width: $screen-sm) {
    padding: 28px 38px 35px;
  }

  @media (max-width: $screen-xs) {
    padding: 16px 23px 20px;
  }
}

.form-line{
  margin-bottom: 20px;

  &:last-of-type{
    margin-bottom: 35px;
  }
}

.label-big{
  font-size: 36px;

  @media (max-width: $screen-xs) {
    font-size: 21px;
  }
}

.input-big{
  font-size: 17px;
  padding: 10px;

  @media (max-width: $screen-xs) {
    font-size: 15px;
    padding: 5px;
  }
}

.btn{
  font-size: 36px;
  max-width: 226px;

  @media (max-width: $screen-xs) {
    font-size: 21px;
    max-width: 133px;
  }
}

