// bower:scss
// endbower

@import "_grid";
@import "_sprite";
@import "_vars";

@import "../fonts/fira/fira.css";
@import "../fonts/Proxima-Nova/Proxima-Nova.css";

// ОБЩИЕ СТИЛИ //

*,
*:before,
*:after{
  box-sizing: border-box;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}

.page {
  font-family: fira_sansbook, sans-serif;
  background: url('../images/background.png') repeat;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.clearfix{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

// СТИЛИ ЭЛЕМЕНТОВ //

.form-line{
  margin-bottom: 15px;
}

.label{
  color: $label-color;
  font-size: $label-font-size;
  display: block;
}

.input{
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  color: $input-color;
  font-size: $input-font-size;
  font-family: fira_sanslight;
  width: 100%;
  line-height: 41px;
  padding: 0 10px;
}



.textarea{
  background-color: $textarea-background-color;
  border: $textarea-border-width solid $textarea-border-color;
  border-radius: $textarea-border-radius;
  color: $textarea-color;
  font-family: fira_sanslight;
  font-size: $textarea-font-size;
  resize: none;
  width: 100%;
  padding: 10px;
}

.btn{
  background-color: #48cbe8;
  border-radius: $button-border-radius;
  color: $button-color;
  font-family: fira_sansbook;
  font-size: $button-font-size;
  width: 100%;
  padding: $button-delta 0;
  border: none;
  box-shadow: 0 $button-delta 0 0 $button-box-shadow-color;
  outline: none;
  transition: box-shadow .1s, transform .1s, padding .1s;

  &:hover{
    box-shadow: 0 0;
    transform: translateY($button-delta);
  }

  &:active{
    box-shadow: inset 0 $button-delta 0 0 $button-box-shadow-color;
    padding-top: $button-delta2;
    padding-bottom: 0;
    transform: translateY($button-delta);
  }
}

.btn-res{
  background-color: $button-res-background-color;
  box-shadow: 0 $button-delta 0 0 $button-res-box-shadow-color;

  &:hover{
    box-shadow: 0 0;
  }

  &:active{
    box-shadow: inset 0 $button-delta 0 0 $button-res-box-shadow-color;
  }
}

.has-error{
  background-color: rgba(249, 126, 118, 0.33);
  border-color: #f97e76;
}

.qtip-mystyle{
  color: white;
  font-size: 13px;
  background-color: #f97e76;
}

/*            *\
     HEADER     
\*            */

.header{
  background-color: $fg;
  margin-bottom: 40px;

  @media (max-width: $screen-sm) {
    margin-bottom: 15px;
  }
  @media (max-width: $screen-xs) {
    margin-bottom: 5px;
  }


  &:after{
    content: '';
    display: block;
    height: 3px;
    background-color: #1c667a;
    background-image: linear-gradient(to right, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 50%, rgba(242, 246, 250, 0.9) 100%);
  }
}

.container-big{
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 0;

  @media (max-width: $screen-sm) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (max-width: $screen-xs) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header__logo{
  float: left;

  @media (max-width: $screen-sm) {
    width: 166px;
  }

  @media (max-width: $screen-xs) {
    width: 120px;
  }

}

.logo{

}

.logo-img{
  width: 100%;
  height: auto;
}

.header__socials{
  float: right;
}

.socials{
  font-size: 0;
  text-align: center;

  @media (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
}

.socials-item{
  display: inline-block;
  padding: 0 12px;

  &:first-child{
    padding-left: 0;
  }

  &:last-child{
     padding-right: 0;
   }
}

.socials-link{
  display: inline-block;
}

.socials-link-vk{
  @include sprite($vk-deafault);
  &:hover{
    @include sprite($vk-hover);
  }
}

.socials-link-gh{
  @include sprite($gihtub-deafault);
  &:hover{
    @include sprite($gihtub-hover);
  }
}

.header__burger{
  display: none;
  float: right;
  font-size: 0;
  padding-bottom: 13.5px;
  padding-top: 13.5px;
  margin-left: 50px;

  @media (max-width: $screen-sm) {
    display: inline-block;
  }

  @media (max-width: $screen-xs) {
    margin: 0;
  }
}

.burger{
  color: #fff;
  //background-color: #666;
  //padding: 5px;
  position: relative;
  display: inline-block;
  //top: 5px;
  //left: 5px;
  cursor: pointer;
  //transition: left .23s;
  //z-index: 3;
  width: 25px;
  //-webkit-transform: translateZ(0);
  //-webkit-backface-visibility: hidden;
}

.band-burg{
  display: block;
  height: 5px;
  background-color: $burger-background-color;
  //margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
  border-radius: 4px;
}

.band-burg-1{
  top: 0;
  transition: transform 0.2s, top 0.1s;
}

.band-burg-2{
  top: 3px;
  transition: transform 0.2s, top 0.1s;
  transition-delay: 0.2s, 0s;
}

.band-burg-3{
  top: 6px;
  transition: all 0.2s;
  transition-delay: 0.1s;
}

.burger.active{
  .band-burg-1{
    top: 8px;
    transform: rotate(135deg);
  }
  .band-burg-2{
    // top: 10px;
    transform: rotate(-135deg);
  }
  .band-burg-3{
    opacity: 0;
    // top: 0;
    transform: rotate(360deg);
  }
}

/*            *\
     CONTENT     
\*            */

.main{
  flex: 1;
  margin-bottom: 40px;

  @media (max-width: $screen-sm) {
    padding: 20px;
  }

  @media (max-width: $screen-xs) {
    padding: 10px;
  }

}

.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

// Стили САЙДБАРА //

.sidebar{
  float: left;
  width: 250px;

  @media (max-width: 768px) {
    display: none;
  }
}

.navigation{

  &_active{

  }

  @media (max-width: $screen-sm) {
    position: absolute;
    right: 0;
    top: 70px;
    width: 238px;
    box-shadow: 0.6px 2.9px 8.5px 0.5px rgba(13, 16, 7, 0.35);
    //box-shadow: 1px 2px 3px 11px red;

    &:after{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 1px;
      right: 18px;
      transform: translate(0%,-100%);
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $navbar-default-color;
    }
  }

  @media (max-width: $screen-xs) {
    position: absolute;
    width: 100%;
    &:after {
      content: none;
    }
  }
}

.navigation-list{
  margin: 0 0 20px 0;
  padding: 0;
  border-radius: $border-radius-base;
  overflow: hidden;
  background-color: $navbar-default-bg;
  font-family: fira_sansbook;
  font-size: 21px;





  @media (max-width: $screen-sm) {
    background-color: white;
    text-align: left;
    position: relative;
    margin-bottom: 0;
    font-size: 20px;

  }
}

.navigation-item{

  &_current{
    background-color: $navbar-default-link-active-bg;

    .navigation-link{
      color: $navbar-default-link-active-color;
      font-size: 23px;

      @media (max-width: $screen-sm) {
        font-size: 22px;
      }
    }
  }
}

.navigation-link{
  display: block;
  text-decoration: none;
  color: $navbar-default-link-color;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 0 20px 18px;
  border-bottom: 2px solid $navbar-item-underline-bg;
  margin-bottom: -2px;
}

.contacts{

  vertical-align: middle;
  border-radius: $border-radius-base;
  overflow: hidden;

  &__title{
    background-color: $contacts-title-bg;
    padding-left: 20px;
    font-size: 21px;
  }

  &__body{
    @media (max-width: $screen-sm) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__mail{
    background-color: $contacts-mail-bg;
    &:before{
      content: '';
      @include sprite($mail);
    }
  }
  &__phone{
    background-color: $contacts-phone-bg;
    &:before{
      content: '';
      @include sprite($phone);
    }
  }
  &__skype{
    background-color: $contacts-skype-bg;
    &:before{
      content: '';
      @include sprite($skype);
    }
  }
}

.contacts-item{
  padding: 0 20px;
  line-height: 40px;
  color: white;
  font-style: normal;

  &:before{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  @media (max-width: $screen-sm) {
    padding: 0;
  }
}


.link-to-connection{
  color: inherit;
  text-decoration: inherit;
  &:hover{
    text-decoration: underline;
  }
}


// Стили КОНТЕНТА //

.content{
  float: right;
  max-width: 650px;
  width: 100%;

  @media (max-width: $screen-md) {
    width: calc(100% - 270px);
  }

  @media (max-width: $screen-sm) {
    width: 100%;
    float: none;
    max-width: 700px;
    margin: 0 auto;
  }

}

// КОНТЕНТ страницы "ОБО МНЕ"//

.content-box{
  background-color: $content-box-bg;
  border-radius: $border-radius-base;
  font-family: fira_sansbook;
  margin-bottom: 25px;

  &:last-child{
    margin-bottom: 0;
  }

  &__header{
    display: inline-block;
    padding: 20px 26px 20px 22px;
    //margin-bottom: 25px;
    color: $content-box-header-color;
    border-bottom: 2px solid $content-box-header-underline-bg;
    font-size: $content-box-header-font-size;

    @media (max-width: $screen-xs) {
      padding: 10px;
      font-size: 22px;
      border-bottom: none;
      text-align: center;
      display: block;
    }
  }

  &__body{
    padding: 25px 25px 25px 25px;

    @media (max-width: $screen-xs) {
      padding: 15px;
      text-align: center;
    }
  }
}

.personal-info{
  display: flex;
  max-width: 540px;
  margin: 0 auto;

  @media (max-width: $screen-sm) {
    max-width: 100%;
  }

  @media (max-width: $screen-xs) {
    flex-direction: column;

  }
}

.personal-info__avatar{
  font-size: 0;
  margin-top: 20px;

  @media (max-width: $screen-xs) {
    //text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.avatar{
  width: 150px;
  height: 150px;

  border-radius: 50% 50%;
  overflow: hidden;
  text-align: center;
  border: 3px solid $avatar-border-bg;
  display: inline-block;

  &__img{
    width: 100%;
    height: auto;
  }
}

.personal-info__worksheet{
  margin-left: 23px;

  @media (max-width: $screen-xs) {
    margin-left: 0;
    //text-align: center;
  }
}

.worksheet-list{
  padding: 0;
  margin: 0;
}

.worksheet-item{
  display: flex;
  margin-bottom: 15px;

  &:last-child{
    margin-bottom: 0;
  }

  @media (max-width: $screen-xs) {
    flex-direction: column;
  }
}

.worksheet-what{
  margin-right: 18px;
  font-family: fira_sansmedium;

  @media (max-width: $screen-xs) {
    margin-right:0;
  }
}

.worksheet-info{
  flex: 1;
}

.skills-list{
  margin: 0;
  padding: 0;

  @media (max-width: $screen-xs) {
    width: 50%;
    margin: 0 auto;
  }
}

.skills-item{
  float: left;
  color: $skills-item-color;
  margin-right: 8px;
  margin-bottom: 9px;
  padding: 4px 12px;
  background-image: linear-gradient(to top, $skills-item-gradient2-bg 0%, $skills-item-gradient2-bg 49%, $skills-item-gradient1-bg 50%, $skills-item-gradient1-bg 100%);
  border-radius: $skills-item-border-radius;
  cursor: default;
  font-family: ProximaNovaCond;
  font-size: 14px;

  @media (max-width: $screen-xs) {
    float: none;
    display: inline-block;

  }
}

.content-box__work-list{
  padding: 0 55px 45px 55px;
}

.work-list{
  //margin: 0;
  padding: 0;
  max-width: 540px;
  margin: 0 auto;
}

.work-item{
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  &:before{
    flex-shrink: 0;
  }

  &:last-child{
    margin-bottom: 0;
  }

  @media (max-width: $screen-xs) {
    flex-direction: column;
  }

  &_job{




    &:before{
      content: '';
      display: inline-block;
      @include sprite($job);

    }
  }

  &_education{
    &:before{
      content: '';
      
      @include sprite($education);
    }
  }
  
  &__body{
      margin-left: 20px;
      font-size: 15px;

    @media (max-width: $screen-xs) {
      margin:0;
    }
  }

  &__header{
    font-size: 17px;

    @media (max-width: $screen-xs) {
      margin-top: 15px;
    }
  }

  &__description{
    font-family: fira_sanslight;
  }
}

/*            *\
     FOOTER     
\*            */

.footer {
  background-color: #eff3f7;
  text-align: center;
  font-family: fira_sanslight;
  font-size: 13px;

  &:before{
    content: '';
    display: block;
    height: 3px;
    background-color: #1c667a;
    background-image: linear-gradient(to right, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 50%, rgba(242, 246, 250, 0.9) 100%);
  }
}

.footer__body{
  padding: 22px 0;

  @media (max-width: $screen-xs) {
    padding: 10px 0;
  }
}

.lock{
  float: left;
  font-size: 0;
  padding: 0 10px;

  @media (max-width:$screen-xs) {
    float: none;
  }

}

.lock-inner{
  &:before{
    content: '';
    @include sprite($logged-off);
    display: inline-block;
  }
  &:hover:before{
    content: '';
    @include sprite($logged-on);
  }
}

.copyright{
  vertical-align: middle;
  display: inline-block;
  line-height: 32px;

  @media (max-width: $screen-xs) {
    line-height: normal;
    font-size: 11px;
    margin-top: 10px;
  }
}



