// bower:scss
// endbower

@import "_grid";
@import "_sprite";
@import "_vars";

@import "../fonts/fira/fira.css";
@import "../fonts/Proxima-Nova/Proxima-Nova.css";

// COMMON //

ul{
  list-style: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: fira_sansbook, sans-serif;
  background: url('../images/background.png') repeat;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrap{
  max-width: 940px;
  margin: 0 auto;
}

.section__content{
  padding-top: 20px;
  padding-bottom: 20px;
}



/*            *\
     HEADER     
\*            */

.section_header{
  background-color: $fg;
  &:after{
    content: '';
    display: block;
    height: 3px;
    background-color: #1c667a;
    background-image: linear-gradient(to right, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 50%, rgba(242, 246, 250, 0.9) 100%);
  }
}

.section__content{
  &_header{
    padding: 35px 100px;
  } 
}
.header__socials{
  // list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}

.socials-item{
  display: inline-block;
  padding: 0 12px;
  &:first-child{
    padding-left: 0;
  }&:last-child{
    padding-right: 0;
  }
}

.socials-link{
  display: inline-block;
}

.socials-link-vk{
  @include sprite($vk-deafault);
  &:hover{
    @include sprite($vk-hover);
  }
}

.socials-link-gh{
  @include sprite($gihtub-deafault);
  &:hover{
    @include sprite($gihtub-hover);
  }
}

/*            *\
     CONTENT     
\*            */

.section_main-content{
  flex: 1;
}

.section__content{
  &_main{
    padding: 40px 0;
  } 
}

.navigation-list{
  margin: 0 0 20px 0;
  padding: 0;
  border-radius: $border-radius-base;
  overflow: hidden;
  background-color: $navbar-default-bg;
  font-family: fira_sansbook;
  font-size: 20px;

}

.navigation-item{

  &_current{
    background-color: $navbar-default-link-active-bg;
    
    .navigation-link{
      color: $navbar-default-link-active-color;
      font-size: 23px;
    }
  }
}

.navigation-link{
  display: block;
  text-decoration: none;
  color: $navbar-default-link-color;
  margin: 0 10px;
  padding: 20px 0 20px 18px;
  border-bottom: 2px solid $navbar-item-underline-bg;
  margin-bottom: -2px;
}

.contacts{
  color: white;
  font-style: normal;
  vertical-align: middle;
  border-radius: $border-radius-base;
  overflow: hidden;

  &-item{
    padding-left: 30px;
    padding-right: 30px;
    line-height: 40px;

    &:before{
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .link-to-connection{
    color: inherit;
    text-decoration: inherit;
    &:hover{
      text-decoration: underline;
    }
  }

  &__title{
    background-color: $contacts-title-bg;
    padding-left: 20px;
    font-size: 21px;
  }
  &__mail{
    background-color: $contacts-mail-bg;
    &:before{
      content: '';
      @include sprite($mail);
    }
  }
  &__phone{
    background-color: $contacts-phone-bg;
    &:before{
      content: '';
      @include sprite($phone);
    }
  }
  &__skype{
    background-color: $contacts-skype-bg;
    &:before{
      content: '';
      @include sprite($skype);
    }
  }
}

.content-box{
  background-color: $content-box-bg;
  border-radius: $border-radius-base;
  font-family: fira_sansbook;
  margin-bottom: 25px;
  &:last-child{
    margin-bottom: 0;
  }
  &__header{
    display: inline-block;
    padding: 20px 26px 20px 22px;
    margin-bottom:24px;
    color: $content-box-header-color;
    border-bottom: 2px solid $content-box-header-underline-bg;
    font-size: $content-box-header-font-size;
  }
  &__personal-info{
    padding: 0 30px 46px 30px;
  }
  
}

.personal-info{
  display: flex;

  &__worksheet{
    margin-left: 23px;
  }
}



.avatar{
  width: 150px;
  height: 150px;
  border-radius: 50% 50%;
  overflow: hidden;
  text-align: center;
  border: 3px solid $avatar-border-bg;
  display: inline-block;
  &__img{
    width: 100%;
    height: auto;
  }
}

.worksheet-list{
  padding: 0;
  margin: 0;
}

.worksheet-item{
  display: flex;
}

.worksheet-what{
  margin-right: 18px;
  font-family: fira_sansmedium;
  // text-align: right;
  // flex: 1;
}

.worksheet-info{
  flex: 1;
}

.skills-list{
  margin: 0;
  padding: 0;
  // display: flex;
}

.skills-item{
  float: left;
  color: $skills-item-color;
  margin-right: 8px;
  margin-bottom: 9px;
  padding: 4px 12px;
  background-image: linear-gradient(to top, $skills-item-gradient2-bg 0%, $skills-item-gradient2-bg 49%, $skills-item-gradient1-bg 50%, $skills-item-gradient1-bg 100%);
  border-radius: $skills-item-border-radius;
  cursor: default;
  font-family: ProximaNovaCond;
  font-size: 14px;
}

.content-box__work-list{
  padding: 0 55px 45px 55px;
}

.work-list{
  margin: 0;
  padding: 0;
}

.work-item{
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  &:before{
    flex-shrink: 0;
  }
  &_job{
    &:before{
      content: '';
      display: inline-block;
      @include sprite($job);

    }
  }

  &_education{
    &:before{
      content: '';
      
      @include sprite($education);
    }
  }
  
  &__body{
      margin-left: 20px;
      
      font-size: 15px;
  }

  &__header{
    font-size: 17px;
  }

  &__description{
    font-family: fira_sanslight;
  }
}

/*            *\
     FOOTER     
\*            */

.section__content{
  &_footer{
    padding: 22px 0;
  } 
}

.section_footer {
  background-color: #eff3f7;
  text-align: center;
  font-family: fira_sanslight;
  font-size: 13px;
  &:before{
    content: '';
    display: block;
    height: 3px;
    background-color: #1c667a;
    background-image: linear-gradient(to right, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 50%, rgba(242, 246, 250, 0.9) 100%);
  }
}

.lock-inner{
  &:before{
    content: '';
    @include sprite($logged-off);
    display: inline-block;
  }
  &:hover:before{
    content: '';
    @include sprite($logged-on);
  }
}

.footer__lock{
  vertical-align: middle;
}

.footer__copyright{
  vertical-align: middle;
}



